<div id="tempbase" style="width: 90vw; margin: auto; align-content: center">
    <h3 style="align-content: center">Não há dados para esse dia</h3>
    <button class="uk-button uk-button-default" onclick="ultimo();">Voltar para o último dia com dados</button>
    <br>
    <div style="font-family: monospace; white-space: pre; font-size: 1rem">
  .-------.    ______
 /   o   /|   /\     \
/_______/o|  /o \  o  \
| o     | | /   o\_____\
|   o   |o/ \o   /o    /
|     o |/   \ o/  o  /
'-------'     \/____o/
    </div>
</div>