<div class="week_day {{date}}" id="tempbase" style="width: 90vw; margin: auto">
    <div class="uk-grid">
        <div class="uk-width-1-6">
            <a class="uk-slidenav-large" href="#" uk-slidenav-previous uk-slideshow-item="previous" onclick="setab();"></a>
        </div>
        <div class="uk-width-2-3">
            <h3 class="uk-text-lead uk-text-center" id="datah">{{date}}</h3>
        </div>
        <div class="uk-width-1-6" style="align-content: right">
            <a class="uk-slidenav-large" style="align-content: right" href="#" uk-slidenav-next uk-slideshow-item="next" onclick="setaf();"></a>
        </div>
    </div>
    <ul uk-accordion>

        {{#locations}}
        <li>
            <a class="uk-accordion-title" href="#">{{name}}</a>
            <div class="uk-accordion-content">
                {{#meals}}
                <h5 class="uk-text-center uk-text-uppercase">{{name}}</h5>
                <h6>Sopas</h6>
                <ul>
                    {{#soup}}
                    <li>{{.}}</li>
                    {{/soup}}
                </ul>
                <h6>Pratos</h6>
                <ul>
                    {{#meat}}
                    <li>Carne: {{.}}</li>
                    {{/meat}}
                    {{#fish}}
                    <li>Peixe: {{.}}</li>
                    {{/fish}}
                    {{#diet}}
                    <li>Dieta: {{.}}</li>
                    {{/diet}}
                    {{#opti}}
                    <li>Opção: {{.}}</li>
                    {{/opti}}
                    {{#vegie}}
                    <li>Vegetariano: {{.}}</li>
                    {{/vegie}}
                </ul>
                {{/meals}}
            </div>
        </li>
        {{/locations}}
    </ul>

</div>